<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Chat App</title>
</head>

<body>
    <div class="root">
        <div class="container">
            <div class="left">
                <div class="chatlist-header">
                    <div class="tag">
                        <div class="dpcontainer">
                            <img src="/image/user.jpg" alt="" srcset="" class="display-picture">
                        </div>
                        <div class="usr-detail">
                            <h2 class="username">{{username}}!</h2>
                            <p class="usr-mail">{{mail}}</p>
                        </div>

                    </div>
                </div>
                <div class="chatlist-body">

                </div>

            </div>
            <div class="right">
                <div class="chat-header">
                    <button onclick="logout()">Logout</button>
                    <div class="title">
                        <div class="img-container">
                            <img src="/image/exit.png" onclick="exit()"  alt="" srcset="">
                        </div>
                    </div>
                </div>
                <div class="chat-body">
                    <div class="chats"></div>
                    <div class="reader">
                        <input type="text" name="" id="input" placeholder="Type messages">
                        <div class="send-btn" ><img src="/image/send.jpeg" alt="" srcset=""></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="script.js"></script>
</body>

</html>