<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="signup.css">
    <title>ChatApp</title>
</head>
<body>
    <div class="root">
        <div class="container">
            <form action="/signin" method="post">
                
                <div class="tags">
                    <input type="email" name="mail" id="" placeholder="E-mail" required>
                </div>
                <div class="tags">
                    <input type="password" name="pass" id="" placeholder="Password" required>
                </div>
                <div class="tags">
                    <center><button type="submit">Login</button></center>
                </div>
            </form>
            <div><a href="/signup">Not have account click here</a></div>
        </div>
    </div>
    <script src="signin.js"></script>
</body>
</html>