* {
    padding: 0;
    margin: 0;
}

body html {
    height: 100vh;
    width: 100vw;
}

.root {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: black;
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

a{
    color: white;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

.tags {
    margin: 20px 0;
    
    width: 400px;
}

input {
    height: 40px;
    width: 400px;
    text-align: center;
    font-size: 1.6rem;
    color: black;
    border-radius: 20px;
    border: none;
}

button {
    height: 40px;
    width: 100px;
    font-size: 1.6rem;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background-color: aqua;
}

@media screen and (max-width:450px) {
    .container{
        display: static;
        text-align: center;
    }

    input{
        width: 300px;
    }
}